<div class="container mt-5">
  <div class="jumbotron">
    <h1>Administrácia noviniek a termínov</h1>
    <h3>Zadanie č.2 z predmetu IMS</h3>
  </div>

  <div class="row justify-content-center">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top"[src]="terminyImg" alt="Card image cap">
          <div class="card-body mx-auto">
            <p class="card-text">Pridávanie a spravovanie termínov</p>
            <button type="button" [routerLink]="['/terminy']" class="btn btn-outline-danger">Termíny</button>
          </div>
        </div>

      <div class="card ml-5" style="width: 18rem;">
        <img class="card-img-top" [src]="novinkyImg" alt="Card image cap">
        <div class="card-body mx-auto">
          <p class="card-text">Pridávanie a spravovanie noviniek</p>
          <button type="button" [routerLink]="['/novinky']" class="btn btn-outline-info">Novinky</button>
        </div>
      </div>
    </div>
</div>